<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hag.bucketlst"
      android:versionCode="1"
      android:versionName="1.0">


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@style/CustomTheme">
        <activity android:label="@string/app_name" android:name=".BucketMain"
        	android:configChanges="orientation|keyboardHidden"
        	android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity android:name=".NTaskEdit" android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize">
		</activity>
		
		<activity android:name=".TaskEdit" android:configChanges="orientation|keyboardHidden"
			android:windowSoftInputMode="adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>

		<activity android:name=".CategoryEdit" android:configChanges="orientation|keyboardHidden" 
			android:windowSoftInputMode="adjustResize">
		</activity>

    </application>
</manifest>